<!DOCTYPE html>
<html>
    <head>
        <title>SURVEY SAVE</title>
    </head>
    <body>
        {% if state == false %}
            <div>saved</div>
        {% else %}
            <div>error (check parameters)</div>
        {% endif %}
    </body>
</html>